language: php
php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
script: find src -name "*.php" ! -path '*/NonPHP7.php' -print0 \
  | xargs -0 -n1 -P8 php -l \
  | grep -v '^No syntax errors detected' \
  ; test $? -eq 1
